/.DS_Store
/node_modules
/package-lock.json
config.json
process.env
SatanBot 2.0.txt
From AutoCode/bird.js
From AutoCode/cat.js
From AutoCode/dog.js
From AutoCode/elephant.js
From AutoCode/halloween.js
From AutoCode/keyword.js
From AutoCode/meme.js
From AutoCode/ping-satan.js
From AutoCode/wheel-of-the-year.js
From AutoCode/fact.js
.vscode/launch.json
